*{
    margin: 0;
    padding: 0;
    border: 0;
}
#body{
    background-color: #fbffdc;
}
#background{
    position: relative;
    height: 100vh;
    width: 100vw;
    color: black;
    background-color: #fbffdc;
}
.back{
    height: 99vh;
    width: 99vw;
    margin: 0 auto;
}
#top{
    position: absolute;
    height: 10vh;
    width: 90vw;
    top:0;
    margin-left: 3vh;
    z-index: 5000;
    display: flex;
    align-content: center;
}
#top>div{
    margin: 2.5vh;
    position: relative;
    z-index: 10000;
    margin-top: 2vh; 
}
#box{
    position: absolute;
    display: flex;
    width: 30vw;
    right: -54vw;
    cursor: pointer;
}
#box>div{
    height: 4vh;
    width: 8vw;
    display: inline-block;
    color: #f1f1f1;
    text-align: center;
}
#menuBtn{
    display: inline-block;
    height: 4vh;
    width: 4vh;
    margin-top: 2vh;
    cursor: pointer;
    z-index: 10000;
}
#menuBtn>img{
    height: 4vh;
    width: 4vh;
}
#title{
    height: 4vh;
    width: 10vh;
    font-size: 2.5vh;
    color: #f1f1f1;
    z-index: 10000;
}
#hitokoto_page{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    z-index: 3;
    color: #f1f1f1;
}
#hitokoto{
    width: 70vw;
    margin: 0 auto;
}
#hitokoto>div{
    opacity: 0;
    transition: all 0.5s;
    animation: jump 10s ease 0.3s infinite ;
}

#kotoba{
    width: 70vw;
    margin: 0 auto;
    margin-top: 40vh;
    font-size: 4vh;
    line-height: 10vh;
    text-align: center;
}
#sakushia{
    position: relative;
    width: 70vw;
    height: 8vh;
    margin-right: 0vw;
    font-size: 3vh;
    line-height: 8vh;
    text-align: right;
}
.menu{
    position: absolute;
    height: 99vh;
    width: 0vw;
    top:0;
    background-color:#f1f1f1;
    color: #424242;
    z-index: 10000;
    transition: all 0.3s;
    overflow: hidden;
}
.menu.active{
    width: 16.5vw;
}
#menu_title{
    height: 11vh;
    width: 0vw;
    margin: 0 auto;
    line-height: 10vh;
    font-size: 2.5vh;
    text-align: left;
    transition: all 0.3s;
    overflow: hidden;
}

.menu_content{
    height: 8vh;
    width: 0vw;
    transition: all 0.3s;
    overflow: hidden;
    color: #878787;
}
.menu_content.active{
    width: 16.5vw;
}
.menu_content:hover{
    background-color: #e3e3e3;
}
.menu_content>div{
    height: 8vh;
    width: 10vw;
    margin: 0 auto;
    line-height: 8vh;
}
#shadow{
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0.4;
    top: 0;
    background-color:black;
    z-index: 2; 
}
#shadow2{
    position: absolute;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    top: 0;
    background-color:black;
    z-index: 4; 
}
#bottom{
    position: absolute;
    height: 2vh;
    width: 99vw;
    bottom: 1vh;
    font-size: 1.8vh;
    text-align: right;
    color: #f1f1f1;
    z-index: 5000;
}
@keyframes jump{
    0% {
        transform: translate(0px, 0px);
    }
    1.25% {
        transform: translate(0px, -10px);
    }
    2.5% {
        transform: translate(0px, 0px);
    }
    3.75%{
        transform: translate(0px,-10px);
    }
    5%{
        transform: translate(0px,0px);
    }
}
